
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<section>
    <ul>
        <li>
            <a asp-controller="Generate" asp-action="Index" asp-route-pname="djfatnutz">Generate recommended playlist here!</a>
        </li>
    </ul>
</section>
