@{
    ViewData["Title"] = "Home Page";
}

<header>
    <h2>
        Playlist FaceOff
    </h2>
</header>
<body>
    <p>
      This app can generate playlists based off your spotify account.
    </p>
    <p>
        Login and pull your playlists!
    </p>
    <p>

    </p>
    <a asp-controller="Generate" asp-action="Index" asp-route-pname="washisnameo">Begin!</a>
</body>
